<% unless list.archived? %>
  <div class="list">
    <div class="header">
      <h2>
        <%= list.name %>
      </h2>
      <button class="archive-list" data-list-id="<%= list.id %>">
        x
      </button>
    </div>
  </div>
<% end %>
