<% unless list.archived? %>
  <div class="list">
    <div class="header">
      <h2>
        <%= list.name %>
      </h2>
      <button class="delete-list" data-list-id="<%= list.id %>">
          <%= link_to "x", [list.board, list], data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                      } %>
      </button>
    </div>
  </div>
<% end %>
