<% unless list.archived? %>
  <div class="list">
    <div class="header">
      <h2>
        <%= list.name %>
      </h2>
      <button class="archive-list" data-list-id="<%= list.id %>">
        x
      </button>
      <p>
          <%= link_to "Destroy List", [list.board, list], data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                      } %>
      </p>
    </div>
  </div>
<% end %>
