<h1>Boards</h1>

<div id="boards-container">
  <% @boards.each do |board| %>
    <% unless board.archived? %>
      <%= link_to board_path(board) do %>
        <div class="board">
          <h2>
            <%= board.name %>
          </h2>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "New Board", new_board_path %>
</div>
